@model HowrashokShop.Models.Order

@{
    ViewData["Title"] = "Details";
}
@{
    Layout = "_Layout";
}

<link href="~/css/Index.css?1" rel="stylesheet" />

<div class="content">
    <h4 class="dopfont">Заказ №@Model.Id</h4>
    @foreach (var item in Model.TableParts)
    {
        <div class="col-md-3 item">
            <a asp-action="Create" asp-controller="Comments" asp-route-id="@item.Id">
                <div class="inline_class">
                    <img src="~/Images/@Html.DisplayFor(modelItem => item.Product.Photos.OrderBy(c => c.Id).ToList()[0].Photopath)" class="img_item" width="100%" />
                    <div class="main_in_item not_inline_class">
                        <p class="dopfont">@Html.DisplayFor(modelItem => item.Product.Category.Name)</p>
                        <p class="dopfont">@Html.DisplayFor(modelItem => item.Product.DescToShort)</p>
                    </div>
                </div>
            </a>
        </div>
    }
</div>
