.photo_class{
    margin: 10%;
}
.content {
    min-height: 70%;
}
.margin_class{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 0%;
}
#carouselExample {
    height:30%;
}
﻿.mainfont {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 16px;
    color: #5893B9;
}

.dopfont {
    font-size: 12px;
    color: #5893B9;
}