<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="~/HowrashokShop.styles.css" />
    <link type="text/css" rel="stylesheet" href="~/css/MenuStyle.css" />
</head>

<body class="container-fluid">
    <div class="wrapper">
        <div class="header_class">
            <img src="~/Images/shapka-atelye-long.png" width="100%"/>
            <div class="inline_class">
                <ul class="menu-main" id="menu">
                    <li><a asp-action="Index" asp-controller="Index">Главная</a></li>
                    <li><a asp-action="Index" asp-controller="Comments">Отзывы</a></li>
                    <li><a asp-action="Index" asp-controller="Arhive">Архивные работы</a></li>
                    <li><a asp-action="Index" asp-controller="Auth">Профиль</a></li>
                </ul>
            </div>
        </div>
        <div>
            <main role="main" class="pb-3 maincontent">
                @RenderBody()
            </main>
        </div>
        <div class="row footer inline_class">
            <div class="col-sm inline_class">
                <p>
                    Политика конфедициальности
                </p>
            </div>
            <div class="col-sm inline_class">
                <p>
                    &copy Все права защищены
                </p>
            </div>
            <div class="col-sm contacts inline_class">
                <p>
                    Контактная информация: &nbsp<br />
                    +7(963)-755-65-41<br>
                    &#64 atelie_mur
                </p>
            </div>
        </div>
        <script src="~/js/menuScript.js?07.03"></script>
    </div>
</body>