button {
    border: none;
    background: #5893B9;
    border-radius: 10px;
    min-width: 150px;
    min-height:50px;
    cursor: pointer;
    color: #DEEFFA;
    font-family: 'Ubuntu Condensed', sans-serif;
}

button:before {
    font-family: FontAwesome;
    font-size: 16px;
    color: #DEEFFA;
}
