.mainfont {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 16px;
    color: #5893B9;
}

.dopcontent {
    background: #DEEFFA;
    border: 2px solid #5893B9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    min-width: 300px;
    padding: 5%;
}
.item {
    width: 22%;
    min-width: 250px;
    background-color: #DEEFFA;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 1%;
}
.img_item {
    width: 20%;
}
.margin_row {
    margin-left: 3%;
}
.inline_class {
    display: flex;
}
.search_panel {
    margin-top: 1%;
}
.content {
    min-height: 70%;
    display: flex;
    align-items: center;
    justify-content: center
}
button{
    margin-left: 0%;
    margin-top: 5%;
}
